#control {
    display: flex;
    justify-content: center;
    border: 2px solid green;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: auto;
}

main {
    text-align: center;
}